*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Poppins&display=swap');

/*Display Grid*/
main {

    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-template-rows: minmax(100%, 100vh);
}
#nav-bar {
    background-color: #090458;
    color: white;
}
#main-content {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

#location-pin{
    width: 30px;
    margin-left: 40px;
}

#logo{
    margin-left: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
}

#name{
    font-family: 'Poppins', sans-serif ;
    color: #090458;
}

#main-content{
    font-family: 'Poppins', sans-serif ;
}

#home{
    background-image: url(https://i.postimg.cc/8kfzZ038/melanie-vaz-Ka8-W66-4-YA-unsplash.jpg);
}
.nav-link{
    color: white
}

.row{
    color:#090458;

}

section h2{
    font-family: 'Poppins', sans-serif ;
    width: 100%;
}

#column1{
    border-right: #090458 solid 2px;
    height: 100%;
    padding-left: 30px;
}

#column2{
    height: 100%;
    
}

#about{
    height: 100vh;
}

#work{
    padding-bottom: 20px;
}

#icon{
    width: 70px;
    height: 70px;
}